@import "variables";

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

.table-header {
  text-align: center;
  padding: 5px;
}

.fluid-grid {
  margin: $grid-margin;
}