$border-radius: 0;
$font-family: 'Montserrat', sans-serif;
$font-size-base: 17px;
$font-weight-base: 400;
$full-width: 100%;
$cursor-pointer: pointer;
$text-align-component-label: left;
$text-align-component-caret: center;
$margin-caret: 10px;
$dropdown-maxHeight: 300px;
$row-min-height: 40px;