<!DOCTYPE html>
<html lang="en" ng-app="fluid.webComponents">
<head>
    <meta charset="UTF-8">
    <title>Fluid Web Components</title>
    <link href="dist/css/web-components.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="sampleCtrl as sample">
<div class="container" style="margin-top:50px">
    <div class="form-group">
        <fluid-subtable primary key-var="item" label="SubTable" model="sample.labelList" factory="samples">
            <fluid-subcolumn name="name" header="Name">
                <div class="column-row">
                    {{item.name}}
                </div>
                <div class="column-form form-group">
                    <div class="form-group">
                        <label class="control-label" for="label1">
                            Name
                        </label>
                        <input id="label1" class="form-control" ng-model="item.name" type="text" placeholder="Name">
                    </div>
                </div>
            </fluid-subcolumn>
            <fluid-subcolumn name="label" header="Label">
                <div class="column-row">
                    {{item.label}}
                </div>
                <div class="column-form">
                    <div class="form-group">
                        <label class="control-label" for="label2">
                            Label
                        </label>
                        <input id="label2" class="form-control" ng-model="item.label" type="text" placeholder="Label">
                    </div>
                </div>
            </fluid-subcolumn>
            <fluid-subcolumn name="year" header="Year">
                <div class="column-row">
                    {{item.year}}
                </div>
                <div class="column-form">
                    <div class="form-group">
                        <fluid-subcomponent tag="fluid-select" info
                                            source-url="http://localhost:8080/rex-services/factories/war/table_factories/years"
                                            label="Years" model="item.year"></fluid-subcomponent>
                    </div>

                </div>
            </fluid-subcolumn>
        </fluid-subtable>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="bower_components/angular/angular.js" type="text/javascript"></script>
<script src="bower_components/angular-filter/dist/angular-filter.min.js" type="text/javascript"></script>
<script src="dist/js/web-components.js" type="text/javascript"></script>
</body>
</html>