<div class="fluid-subtable">
    <ng-transclude></ng-transclude>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title fluid-table-panel-title center-block">
                <span class="hidden-xs hidden-sm">
                    <b class="fst-label"></b>
                </span>

                <span class="pull-right btn-group btn-group-lg" role="group">

                    <button type="button" class="btn btn-lg btn-info create"><i
                            class="fa fa-plus"></i>
                    </button>

                    <button type="button" class="btn btn-lg btn-danger delete"><i
                            class="fa fa-eraser"></i>
                    </button>

                    <button fluid-lookup type="button"
                            class="btn btn-lg btn-warning"><i
                            class="fa fa-search"></i>
                    </button>
                     <div class="btn-group btn-group-lg" role="group">
                         <button class="btn toggle-columns" title="Toggle columns" data-toggle="dropdown">
                             <i class="fa fa-th-list"></i>
                             <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu dropdown-menu-right toggle-columns">
                         </ul>
                     </div>
                </span>

            </div>
        </div>
        <table class="panel-body table table-striped table-condensed table-hover">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>